# **************************************************
# Copyright (c) 2025, Mayank Mishra
# **************************************************

repos:
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: isort (python)
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        args: [--line-length=119,--target-version=py36]
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.5
    hooks:
      - id: clang-format
        types_or: [c++, c, cuda]
        args: [-style=file:.clang-format]
