name: Style Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  style-check:
    name: Check Style
    runs-on: ubuntu-latest

    steps:
      - name: checkout repository
        uses: actions/checkout@v2

      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: clone and install uv
        run: |
          git submodule update --init --recursive
          curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: run formatting tests
        run: |
          make style
